---
layout: default
---
{% include main-slider.html %}

<div class="grid grid-cols-10 my-10">
  <div class="col-start-2 col-end-9 flex justify-between">
    <div class="image-container mr-10">
      <img src="./assets/images/genelbaskan.jpg" alt="Genel Baskan Feridun Oncel">
    </div>
    <div class="text-container w-2/4">
        <h3 class="text-4xl mb-6 font-black	 border-b-2 border-yellow-500">MİSİAD GENEL BAŞKANIMIZ<br>
          FERİDUN ÖNCEL</h3>
          <h5 class="text-2xl font-bold my-4">MİSİAD Birleştirici, bütünleştirici, kucaklayan, mütevazi, birbirinin eksiğini kapamaya, sevincini paylaşmaya adanmışların ortaklığıdır.
          </h5>
          <p class="font-light">Çağrımız, “Birlik ve beraberlik içinde olmak”, derdimiz “Parti, Memleket, Anlayış farkı gözetmeden Vatanımıza,Devletimize ve Milletimize hizmet etmek.”, prensibimiz, “Kardeşçe ve Dürüstçe Yan Yana Gelmektir.”

          </p>
          <button class="mt-2 uppercase px-8 py-2 rounded bg-yellow-300 text-yellow-600 max-w-max shadow-sm hover:shadow-md">GENEL BAŞKANIN MESAJI</button>
    </div>
  </div>
</div>

<div class="flex justify-around w-60 my-5">
 <a href="/yurtici-subeler.html"><button class="p-10 bg-yellow-600 hover:bg-yellow-400 text-white font-extrabold flex justify-between text-base"><img src="./assets/images/yurtici-logo.png" alt="Misiad Yurtiçi Şubeler" class="pr-2"> MİSİAD Yurtiçi Şubeler</button></a>
 <a href="/yurtdisi-temsilciliklerimiz.html"><button class="p-10 bg-yellow-600 hover:bg-yellow-400 text-white font-extrabold flex justify-between text-base"><img src="./assets/images/dunya-beyaz.png" alt="Misiad Yurtdışı temsilcilikler" class="pr-2"> MİSİAD Yurtdışı<br> Temsilcilikler</button></a>
 <a href="/iletisim.html"><button class="p-10 bg-yellow-600 hover:bg-yellow-400 text-white font-extrabold flex justify-between text-base"><img src="./assets/images/misiadlogo-beyaz.png" alt="Misiad Yurtdışı Temsilcilikler" class="pr-2"> MİSİAD Üyelik Başvurusu</button></a>
</div>


 <!-- cards -->
 <div class="bg-gray-200 pb-10">
  <h5 class="text-center text-4xl mx-auto font-extrabold mt-24 border-b-2 border-0 border-yellow-700" style="width: max-content;">TEŞKİLATIMIZ</h5>

<div class="blogs__wraper  grid grid-cols-11 my-6 mt-24">
     
  

<div class="blogs bg-white mr-5 border border-yellow-500 col-start-2 col-span-3">
 <a href="/genc-misiad.html"><div class="flex justify-center mt-2">
    <img src="./assets/images/genc-misiad.jpg">
  </div></a>
   <div class="p-5">
    <a href="/genc-misiad.html"><h1 class="text-2xl text-center font-extrabold text-black">Genç MİSİAD</h1></a>
   <p class="bg-white font-light text-gray-800 text-center">Genç MİSİAD, sosyal alanda eğitimli, tarihini bilen, ticari ilkelere hâkim, bilinçli nesillerin yetişmesi adına sosyal ve kültürel projelerde de yer almaya devam edecektir.</p>
   
   </div>
</div>


<div class="blogs bg-white mr-5 border border-yellow-500 col-start-5 col-span-3">
  <a href="/misiad-akademi.html"><div class="flex justify-center mt-2">
   <img src="./assets/images/th_misiad-akademi.jpg">
  </div></a>
   <div class="p-5">
    <a href="/misiad-akademi.html"><h1 class="text-2xl text-center font-extrabold text-black">MİSİAD Akademi</h1></a>
    <p class="bg-white font-light text-gray-800 text-center">Türkiye’nin iş dünyasında ihtiyaç duyduğu milli ve manevi değerleri şiar edinen MİSİAD bünyesinde, Türk gençliğine bir perspektif kazandırmak amacıyla faaliyet göstermektedir.

  </p>
   
   </div>
</div>

<div class="blogs bg-white mr-5 border border-yellow-500 col-start-8 col-span-3">
  <a href="/altin-markalar-birligi.html"><div class="flex justify-center mt-2">
   <img src="./assets/images/th_altin-markalar-birligi.jpg">
  </div></a>
   <div class="p-5">
    <a href="/altin-markalar-birligi.html"><h1 class="text-2xl text-center font-extrabold text-black">Altın Markalar Birliği</h1></a>
    <p class="bg-white font-light text-gray-800 text-center">Hem halkımızın, hem üyelerimizin, güvenle alışveriş yapabileceği, esnafımızın da müşterilerine doğru hizmeti vererek gelir elde edebileceği milli birlik ve beraberlik çalışmasıdır.

 </p>
   
   </div>
</div>

</div>

  <!-- cards lvl 2 -->
<div class="blogs__wraper  grid grid-cols-11 my-6">
     
  

  <div class="blogs bg-white mr-5 border border-yellow-500 col-start-2 col-span-3">
    <a href="/kadin-girisimciler-platformu.html"><div class="flex justify-center mt-2">
      <img src="./assets/images/th_kadin-girisimciler-platformu.jpg">
     </div></a>
      <div class="p-5">
        <a href="/kadin-girisimciler-platformu.html"><h1 class="text-2xl text-center font-extrabold text-black">Kadın Girişimciler Platformu</h1></a>
        <p class="bg-white font-light text-gray-800 text-center">MİSİAD, kadınlarımızın sosyal yaşamda ev ekonomisine kattıkları değeri iş yaşamı süresince ekonomi dünyasına da katmalarının ülke ekonomisine büyük katkı ve fayda sağlayacağının farkındadır.</p>
      
     </div>
  </div>
  

  <div class="blogs bg-white mr-5 border border-yellow-500 col-start-5 col-span-3">
    <a href="/memleketci-ticaret-portali.html"><div class="flex justify-center mt-2">
      <img src="./assets/images/th_memleketci-ticaret-portali.jpg">
     </div></a>
      <div class="p-5">
        <a href="/memleketci-ticaret-portali.html"><h1 class="text-2xl text-center font-extrabold text-black">Memleketçi Ticaret Portalı</h1></a>
        <p class="bg-white font-light text-gray-800 text-center">Memleketçi Ticaret Portalına üye tüm sanayicilerimizin, tasarım, teknoloji, tanıtım ve pazarlama ihtiyaçlarına profesyonel çözümler üretilerek, yurtiçi ve yurtdışında yeni pazarlara ulaşılmasına destekler sağlanacaktır.</p>
        
     </div>
  </div>
  
  <div class="blogs bg-white mr-5 border border-yellow-500 col-start-8 col-span-3">
    <div class="flex justify-center mt-2">
     <img src="./assets/images/th_memleketci-ticaret-portali.jpg">
    </div>
     <div class="p-5">
      <h1 class="text-2xl text-center font-extrabold text-black">Projeler Ve Yatırım Portalı</h1>
      <p class="bg-white font-light text-gray-800 text-center">Portal üyelerinin, proje ve ürünlerin sürekli iyileştirme ve geliştirme konusunda ihtiyaç duyulabilecek, finans, üretim, pazarlama gibi tüm süreçlerde, uçtan uca profesyonel destekler sunulacaktır.

    </p>
     
     </div>
  </div>
  </div>
</div>


<!-- MİSYON VE VİZYON -->

<div class="flex justify-between m-24">
  <div class="w-2/4">
    <h2 class="text-4xl mx-auto font-extrabold border-b-2 border-0 border-yellow-700 text-left">MİSİAD Misyon Ve Vizyon</h2><br>
    <p class="font-light">MİSİAD, Vizyonu, Ahilik ilkelerini baz alarak “Güçlü yerli ekonomi, Güçlü Türkiye” sevdası ile inanmış Sanayici ve İşadamları ile ülke menfaatlerine uygun olarak mali ve ekonomik politikaların geliştirilmesinde söz sahibi olmayı, ekonomik alanda yarınlara çok daha kuvvetli bir Türkiye bırakmak için gönülden çalışmayı esas alır.</p><br>
    <p class="font-light text-gray-600"><i class="fas fa-check text-yellow-700 mr-2"></i>Asil Türk milletinin canı pahasına kurduğu bu vatan, kanımız kadar kutsaldır. Hiçbir şeye feda edilemez.</p>
    <p class="font-light text-gray-600"><i class="fas fa-check text-yellow-700 mr-2"></i>Bütün iktisat mesaimizden yegâne amaç memleketi yükseltmek gayesidir.</p>
    <p class="font-light text-gray-600"><i class="fas fa-check text-yellow-700 mr-2"></i>Mukaddesatlarımız her türlü ticaretin üstündedir.</p>
    <p class="font-light text-gray-600"><i class="fas fa-check text-yellow-700 mr-2"></i>Yüce Türk devletinin bekası ve âli menfaatleri çalışmalarımızın sebebidir.</p>
    <p class="font-light text-gray-600"><i class="fas fa-check text-yellow-700 mr-2"></i>Ticaretimizin örfi ahiliktir. Ahilik ilkeleri ilkelerimizdir.</p>
    <a href="/iletisim.html"><button class="p-10 mt-12 bg-yellow-600 hover:bg-yellow-400 text-white font-extrabold flex justify-between text-base">MİSİAD'a Katılın</button></a>
  </div>
  <div >
    <iframe width="560" height="316" src="https://www.youtube.com/embed/nKcP7P4Y3HY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>


<!-- portal linkleri -->

<div class="p-24 flex flex-row-reverse" style="background-image: url(./assets/images/ask-bg.jpg);">
  <div class="flex flex-col align-bottom">


    <a href="http://misiadportal.com/"><div class="p-10 mt-12 bg-yellow-600 hover:bg-yellow-400 flex justify-between">
      <i class="fas fa-search border bg-transparent p-4  text-2xl text-white font-bold rounded-full border-blue-600" style="left: 1vw"></i>
      <button class="text-white font-extrabold mx-4 pl-6 text-left" >MİSİAD MEMLEKETÇİ TİCARET PORTALI<br><span class="font-light">Misiad Memleketçi Ticaret Portalını incelemek ve kayıt<br> olmak için tıklayın</span></button>
      <p class="ml-4 rounded-full text-blue-600 text-center px-2 bg-white" style="right: 1vw;top:4vw;">></p>
    </div></a>
  

<a href="/projeler-ve-yatirim-portali.html"><div class="relative p-10 mt-12 bg-yellow-600 hover:bg-yellow-400 flex justify-between">
      <i class="fas fa-chart-line border bg-transparent p-4 mr-12 absolute text-2xl text-white font-bold rounded-full border-blue-600" style="left: 1vw"></i>
      <button class="text-white font-extrabold mx-4 pl-6 text-left" >MİSİAD PROJELER VE YATIRIM PORTALI<br><span class="font-light text-right">Misiad Projeler ve Yatırım Portalını İncelemek ve kayıt<br> olmak için tıklayın</span></button>
      <p class="rounded-full text-blue-600 absolute ml-12 px-2 bg-white" style="right: 1vw;top:4vw;">></p>
    </div></a>
  
  </div>

</div>


<!-- AHİLİK -->

<div>

</div>


<!-- <h1> Welcome to jekyll-tailwind-starter!</h1> -->

<!-- {% for post in site.posts %}
  <a href="{{ post.url }}">{{ post.title }}</a> 
{% endfor %} -->
