 <footer class="bg-gradient-to-r from-yellow-800 to-yellow-500 py-5 grid grid-cols-12 mx-auto border border-black py-12">
    <div class="col-span-3 col-start-2">
        <div class="my-5">
            <img src="../assets/images/misiadlogo.png" alt="Misiad Logo" class="pl-3">
        </div>
        <div class="flex justify-start ml-12">
            <a class="px-3" href="https://twitter.com/misiad2014"><i class="fab fa-twitter-square text-blue-500 text-2xl"></i></a>
            <a class="px-3" href="https://www.instagram.com/misiad2014/"><i class="fab fa-instagram-square text-pink-900 text-2xl"></i></a>
            <a class="px-3" href="https://www.facebook.com/misiad2014/"><i class="fab fa-facebook-square text-blue-500 text-2xl"></i></a>
            <a class="px-3" href="https://www.youtube.com/channel/UCs4yk8y1n5tpo5d66Vkw8wg"><i class="fab fa-youtube-square text-red-500 text-2xl"></i></a>
            <a class="px-3" href="https://wa.me/00908504955180"><i class="fab fa-whatsapp-square text-green-500 text-2xl"></i></a>
        </div>
    </div>
    <div class="col-span-3 col-start-5">
        <h3 class="text-white text-2xl">HIZLI MENÜ</h3>
        <ul class="flex flex-col">
        {% for item in site.data.footer %}
        <li class="text-white text-lg font-light">>> <a href="{{ item.link }}">{{ item.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-span-3 col-start-8">
        <h3 class="text-white text-2xl">İLETİŞİM BİLGİLERİMİZ</h3>
        <ul>
            <li>Mesnevi Sok. No:33 Ayrancı - Çankaya / ANKARA</li>
            <li><i class="fas fa-phone-alt pr-2"></i>0312 440 11 11</li>
            <li><i class="fas fa-fax pr-2"></i>0850 420 6676</li>
            <li><i class="fas fa-envelope pr-2"></i><a href="mailto:info@misiad.org.tr">info@misiad.org.tr</a></li>
        </ul>
    </div>
    <div class="col-span-3 col-start-11">
        <h3 class="text-white text-2xl">MİSİAD HABERLER</h3>
    </div>
</footer>